# APPLICATION
APP_SECRET=
APP_WEB_URL=http://localhost:3000
APP_API_URL=http://localhost:3333

# AWS CREDENTIALS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#SOTRAGE
STORAGE_DRIVER=s3

# MAIL
MAIL_DRIVER=ethereal

#REDIS
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=
